---
import MainLayout from "./MainLayout.astro";
import PageContent from "../components/PageContent/PageContent";
import RightSidebar from "../components/RightSidebar/RightSidebar";
import * as CONFIG from "../config";
import type { MarkdownHeading } from "astro";

type Props = {
  frontmatter: CONFIG.Frontmatter;
  headings: MarkdownHeading[];
};

const { frontmatter, headings } = Astro.props as Props;
const currentPage = Astro.url.pathname;
const currentFile = `src/pages${currentPage.replace(/\/$/, "")}.md`;
const githubEditUrl = `${CONFIG.GITHUB_EDIT_URL}/${currentFile}`;
---

<MainLayout>
    <div id="grid-main" class="grow flex items-center">
        <PageContent
          title={frontmatter.title}
          headings={headings}
          githubEditUrl={githubEditUrl}
        >
          <slot />
        </PageContent>
      </div>
      <aside id="grid-right" class="grid-sidebar w-72 sticky top-0" title="Table of Contents">
        <RightSidebar headings={headings} githubEditUrl={githubEditUrl} client:load/>
      </aside>
</MainLayout>